<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Discord Permissions </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Discord Permissions</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="ready; else pageLoader">
    <ng-container [ngSwitch]="state">
      <ng-container *ngSwitchCase="'email'">
        <form [formGroup]="emailForm" (ngSubmit)="submitEmailForm()">
          <ion-card color="light">
            <ion-card-header>
              <ion-card-title>Verify your email</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                Please enter the email associated with your membership. We will
                send a short code to that email to verify you have access to it
                and if everything checks out we will update your Discord
                permissions.
              </p>
            </ion-card-content>
            <ion-item color="light">
              <ion-label position="stacked">Email</ion-label>
              <ion-input
                formControlName="email"
                placeholder="someone@awesome.com"
              ></ion-input>
            </ion-item>

            <ion-button
              class="ion-float-end ion-margin"
              type="submit"
              fill="solid"
              [disabled]="emailFormDisabled"
            >
              <ng-container *ngIf="!emailFormLoading; else buttonLoader">
                <ion-label>Submit</ion-label>
              </ng-container>
            </ion-button>
          </ion-card>
        </form>
      </ng-container>
      <ng-container *ngSwitchCase="'code'">
        <form [formGroup]="codeForm" (ngSubmit)="submitCodeForm()">
          <ion-card color="light">
            <ion-card-header>
              <ion-card-title>Code sent</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                We sent you an email with a short verification code. Please
                enter it below. Don't forget to check your spam/junk folder just
                in case.
              </p>
            </ion-card-content>
            <ion-item color="light">
              <ion-label position="stacked">Code</ion-label>
              <ion-input
                formControlName="code"
                placeholder="e.g. 123456"
              ></ion-input>
            </ion-item>

            <ion-button
              class="ion-float-end ion-margin"
              type="submit"
              fill="solid"
              [disabled]="codeFormDisabled"
            >
              <ng-container *ngIf="!codeFormLoading; else buttonLoader">
                <ion-label>Verify</ion-label>
              </ng-container>
            </ion-button>
          </ion-card>
        </form>
      </ng-container>
      <ng-container *ngSwitchCase="'success'">
        <ion-card>
          <ion-card-content>
            Your email is verified and your Discord roles have been updated!
          </ion-card-content>
        </ion-card>
      </ng-container>
      <ng-container *ngSwitchCase="'failure'">
        <ion-card>
          <ion-card-content>
            Sorry, your email is not on the list of allowed emails.
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>

<ng-template #pageLoader>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>

<ng-template #buttonLoader>
  <ion-spinner name="dots"></ion-spinner>
</ng-template>
