<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Discord Permissions </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Discord Permissions</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container [ngSwitch]="state">
    <ng-container *ngSwitchCase="'email'">
      <form [formGroup]="emailForm" (ngSubmit)="submitEmailForm()">
        <ion-list>
          <ion-item>
            <ion-input
              formControlName="email"
              placeholder="someone@awesome.com"
            ></ion-input>
            <ion-button
              slot="end"
              type="submit"
              fill="clear"
              [disabled]="emailFormDisabled"
            >
              <ng-container *ngIf="!emailFormLoading; else buttonLoader">
                <ion-label>Submit</ion-label>
              </ng-container>
            </ion-button>
          </ion-item>
        </ion-list>
      </form>
    </ng-container>
    <ng-container *ngSwitchCase="'code'">
      <form [formGroup]="codeForm" (ngSubmit)="submitCodeForm()">
        <ion-list>
          <ion-item>
            <ion-input
              formControlName="code"
              placeholder="e.g. 12345"
            ></ion-input>
            <ion-button
              slot="end"
              type="submit"
              fill="clear"
              [disabled]="emailFormDisabled"
            >
              <ng-container *ngIf="!codeFormLoading; else buttonLoader">
                <ion-label>Verify</ion-label>
              </ng-container>
            </ion-button>
          </ion-item>
        </ion-list>
      </form>
    </ng-container>
    <ng-container *ngSwitchCase="'success'">
      <ion-card>
        <ion-card-content>
          Your email is verified and your Discord roles have been updated!
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ng-container *ngSwitchCase="'failure'">
      <ion-card>
        <ion-card-content>
          Sorry, your email is not on the list of allowed emails.
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
</ion-content>

<ng-template #buttonLoader>
  <ion-spinner name="dots"></ion-spinner>
</ng-template>
